.list {
  display: grid;
  grid-template-columns: auto;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  align-items: center;

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.loading {
  color: white;
  margin-top: 100px;
}
